h1 {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h1 {font-size: 500%;
    color: rgb(255, 0, 60);
}
h1 {border-style: solid;
    border-color: rgb(105, 30, 210);
     border-width: 4px;
}
    h1 {margin-left: 20%;
    }

h1 {padding-left: 20%;
}
.parte1 {border-style: solid;
    border-color: rgb(174, 210, 30);
     border-width: 8px;
    }
    .parte1 {background-color: aquamarine;
    }
    